/* DEFAULTS
----------------------------------------------------------*/



body   
{
    background: #f1f1f1;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #4f4f4f;
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 500;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 1034px;
    background-color: #fff;
    margin: 20px auto 0px auto;
    border: 1px solid #496077;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #4b6c9e;
    width: 100%;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    padding: 0px 12px;
    padding-bottom: 50px;
    margin: 12px 8px 8px 8px;
    min-height: 420px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 50px 0 0 0;
    margin: 0px auto;
    text-align: center;
    line-height: normal;

}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color:#3a4f63;
    /*width:100%;*/
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
    font-size: larger;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 390px;
}

div.name
{
    margin: 0 0 25px 0;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.login
{
	float: right;
	width: 450px;
	height: 90px;
	font-size: 11px;
    border: none;
    margin-right: 0px;   
}



.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.bold_u
{
    font-weight: bold;
    text-decoration: underline;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}

.submitSpecButton
{
    text-align: left;
    padding-right: 10px;
}

/* My Account */
.myImage
{
    border: 1px solid #ddd;
    float: right;
}

.panelMySpec
{
    padding-top: 20px;
}

.panelMySpec table th
{
    font-weight:bold;
}

.collapsePanel
{
    overflow: hidden;
    }

.imageArrow
{
    font-weight: bold;
    height: 20px;
    margin: -3px;
    padding-right: 10px;
}

.imageArrowContainer
{
    font-weight: bold;
    margin-top: 15px;
}

.hours table
{
    padding: 5px, 0px, 10px, 0px;
    width: 850px;
}

.hours table th
{
    text-align: left;
}

.hours table tb
{
    font-weight:bold;
}

.hours
{
    padding-top: 25px;
    padding-bottom: 45px;
}

.hours h2
{
    padding-bottom: 5px;
}

.showPanel
{
    padding-top: 2px;
    padding-bottom: 2px;
}

.cbList fieldset
{
    width: 600px;
}
.cbSpec
{
    width: 420px;
}

/*MyAccountAdmin*/

.adminOptions
{
    margin-top: 25px;
}

/* Grid  View */

.gridView  
{ 
    width: 100% !important; 
    background-color: #fff; 
    margin: 5px 0 10px 0; 
    border: solid 1px #525252; 
    border-collapse:collapse; 
}

.gridView td 
{ 
    padding: 2px 4px 4px 4px;
    border: solid 1px #c1c1c1; 
    color: #717171; 
}



 .gridView td.selectImage  input
{ 
    display: block;
    margin: 0 auto;
    max-height: 30px;
    max-width: 25px;
}

.gridView td input
{
    
   width: 75%; 
   max-height: 30px;
}


.gridView th 
{ 
    padding: 4px 2px; 
    color: #333; 
    background: #4b6c9e /*url(../images/grd_pgr.png) repeat-x top*/; 
    border-left: solid 1px #525252; 
    font-size: 0.9em; 
}

.gridView th a
{
    color: #fefefe;
}


.gridView .alt
{ 
    background: #fcfcfc url(../images/grd_alt.png) repeat-x top; 
}

.gridView .pgr 
{ 
   
    background: #424242 url(../images/grd_pgr.png) repeat-x top; 
}

.gridView .pgr table 
{ 
    margin: 5px 0; 
}

.gridView .pgr td 
{ 
    border-width: 0; 
    padding:0 6px;
    border-left: solid 1px #666; 
    font-weight: bold; 
    color: #034af3; 
    line-height: 12px; 
 } 
   
.gridView .pgr a 
{ 
    color: #000; 
    text-decoration: none; 
}

.gridView .pgr a:hover 
{ 
    color: #496077; 
    text-decoration: none; 
}




.fileGrid .gridView
{
    border-color: transparent;
}

.fileGrid .gridView  th 
{
    width : 0;
    background-color: #fff;
} 

.fileGrid .gridView td 
{
    border-color: transparent;
    border-bottom-color: #eee;
}

.fileGrid .gridView th 
{
    border-color: transparent;
}

.fileGrid .gridView .alt
{
    background: none;
}


.patientGrid .gridView td input, .drGrid .gridView td input , .fileGrid .gridView td input
{
    max-height: 80px;
}

/* Patient Field */

.tab1
{
    height: 100px;
}

.tbResize
{
    margin: 35px 0 35px 0;
    display: block;
    margin: 0 auto;
    width: 95%;
    border-color: #ddd;
}



.panelField
{
    margin-top: 45px; 
}


.panelEditTemplate, .panelItemTemplate
{
    width:  820px;
}



/*--------------------------*/

.button
{
    -webkit-appearance: none;
    -webkit-box-align: center;
    -webkit-box-shadow: none;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #ddd;
    background-image: none;
    background-origin: padding-box;
    border-bottom-color: #333;
    border-width: thin;
    border-left-color: #333;
    border-right-color: #333;
    border-top-color: #333;
    border-bottom-style: solid;
    box-sizing: border-box;
    color: #333;
    cursor: pointer;
    direction: ltr;
    display: inline-block;
    font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    outline-color: #333;
    padding-bottom: 2px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 1px;
    text-align: center;
    width: 80px;
}

.button:hover
{
    background-color: #eee;
}

.wywiad
{
    background-color: #70DB93;
}
.recepty
{
    background-color: #9FB6CD;       
}

.skierowania
{
    background-color: #FF7256;
}

.zalecenie
{
    background-color: #CAFF70;
}

.kodJednostki
{
    background-color: #EED5D2;
}

.mainText
{
    display: inline-block;
    width: 550px;
    text-align: center;
    font-size: 4em;
}

/* Żebym miał równe fieldsety w AddNewReservation */
.fieldsetReservation
{
    height: 124px;
}
